# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea

venv/

.env
/books/deep_work_cal_newport_clippings_2024-8-15.csv
/books/the_art_of_communicating_thich_nhat_hanh_clippings_2024-8-15.csv
